# Dependencies
node_modules/

# OS specific files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env
